{%- set namespace = ["model_zoo"] + namespace.split('/') -%}
#include "tvm_utility/pipeline.hpp"

#pragma once
{% for ns in namespace %}
namespace {{ ns }} {
{%- endfor %}

tvm_utility::pipeline::InferenceEngineTVMConfig config {
  .network_module_path = "{{ network_module_path }}",
  .network_graph_path = "{{ network_graph_path }}",
  .network_params_path = "{{ network_params_path }}",

  .tvm_dtype_code = {{ tvm_dtype_code }},
  .tvm_dtype_bits = {{ tvm_dtype_bits }},
  .tvm_dtype_lanes = {{ tvm_dtype_lanes }},

  .tvm_device_type = {{ tvm_device_type }},
  .tvm_device_id = {{ tvm_device_id }},

  .network_inputs = {
  {%- for node in input_list %}
    { "{{ node['name'] }}", { {{ node['shape']|join(', ') }} } }{{ ',' if not loop.last }}
  {%- endfor %}
  },

  .network_outputs = {
  {%- for node in output_list %}
    { "{{ node['name'] }}", { {{ node['shape']|join(', ') }} } }{{ ',' if not loop.last }}
  {%- endfor %}
  }
};
{% for ns in namespace|reverse %}
} // namespace {{ ns }}
{%- endfor %}
